@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.myFont {
  font-family: "Montserrat", sans-serif;
}
.myFont2 {
  font-family: "Markazi Text", serif;
}

#particles {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.whiteColorContainer {
}

.whiteColorContainer:hover .whiteColor {
  color: white;
}

/* Imagen con animación */
.rotating-image {
  animation: rotatePause 7s ease-in-out infinite;
}

/* Animación de rotación */
@keyframes rotatePause {
  0% {
    transform: rotate(0deg); /* Posición inicial */
  }
  25% {
    transform: rotate(180deg); /* Gira 90 grados */
  }
  100% {
    transform: rotate(
      180deg
    ); /* Se mantiene en 90 grados hasta el siguiente ciclo */
  }
}
